<!-- FOOTER  -->
  <footer class="bottom">
    <div class="wrap-outer">
      <div class="wrap-inner">
  
        <h4>
          Have questions for our team? Send them to <a href="mailto:help@vectorsurv.org">help@vectorsurv.org</a> anytime.
        </h4>
        <br>
        Copyright © 2005 - {{ "now" | date: "%Y" }} California Vectorborne Disease Surveillance System
      </div>
    </div>
  </footer>

{% if site.google_analytics %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}