<!-- HEADER -->
<header class="top">
  <div class="wrap-outer">
    <div class="wrap-inner">
      <a class="site-name" href="{{ site.url }}"><img src="/assets/images/vectorsurv_icon.svg" alt height="35"><span>{{ site.title }}</span></a>
      <nav class="main-nav">
        <a href="{{ site.url }}">Home</a>
        <a href="{{ site.url }}/docs/">Documentation</a>
        <a href="https://gateway.vectorsurv.org">Gateway</a>
        <a href="https://maps.vectorsurv.org">Maps</a>
        <a href="https://youtube.com/@vectorsurv">YouTube</a>
        <!-- <a href="{{ site.url }}/resources/">Resources</a> -->
      </nav>
    </div>
  </div>
</header>
