.gallery-item {
  background-color: #f8f8f8 !important; // important is needed here to override the background color change on hover
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  column-gap: 1em;
  row-gap:1em;
}

.gallery-item {
  border: thin solid #dddddd !important; // important is needed here to override the border-bottom color change on hover
  border-radius: 5px;
}

.gallery-item p {
  color: #003366;
}

.gallery-item:hover {
  box-shadow:0px 0px 5px 0px gray;
}

.gallery-item-image > img{
  border-radius: 5px 5px 0 0;
}

.gallery-item-body {
  padding:1em;
}

.gallery-item-body > h2 {
  padding-top:0;
}

@media (max-width: 599px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}