---
layout: defaultdocs
---

<head>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
  ></script>
</head>

<article class="documentation">
  <!-- add div class to add padding to top -->
  <div class="wrap-outer">
    <div class="grid-container3">
      <header class="box3">
        <h1 class="post-title">
          {{ page.title | escape }} {% if page.v5 %}
          <div class="v5-badge">v5</div>
          {% endif %}
        </h1>
      </header>
    </div>

    {% if page.gateway-url %}
    <div class="gateway-url">
      {% if page.try-new %}
      <h4 class="try-new">
        View the new
        <div class="v5-badge">v5</div>
        version of this page:
        <a href="{{ page.try-new }}">{{ page.try-new }}</a>
      </h4>
      {% endif %} {% if page.GUI-url %}
      <h4>
        <div class="v5-badge">v5</div>
        URL: <a href="{{ page.GUI-url }}">{{ page.GUI-url }}</a>
      </h4>
      {% endif %}
      <h4>
        Gateway URL:
        <a href="{{ page.gateway-url }}">{{ page.gateway-url }}</a>
      </h4>
      {% if page.youtube-url %}
      <h4>
        Video Tutorial:
        <a href="{{ page.youtube-url }}">{{ page.youtube-url }}</a>
      </h4>
      {% endif %}
    </div>
    {% endif %} {% if page.additional-resources %}
    <div class="gateway-url additional-resources">
      <h4>Additional Resources:</h4>
      {% for resource in page.additional-resources %}
      <p>
        - {{ resource.name }}:
        <a href="{{ resource.url }}">{{ resource.url }}</a>
      </p>
      {% endfor %}
    </div>
    {% endif %}

    <section class="content">{{ content }}</section>

    <div class="edit-page-container">
      <a
        class="edit-page"
        data-proofer-ignore
        href="{{ site.github.repository_url }}/edit/master/{{ page.path }}"
        ><i class="fa fa-pencil"></i> &nbsp;Improve this page</a
      >
    </div>
  </div>
</article>

{% include doc_sidebar.html %}
