---
layout: defaultdocs
---
<head>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<article class="documentation">
  <!-- add div class to add padding to top -->
  <div class="wrap-outer">
    <div class="grid-container3">
      <header class="box3">
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </header>
    </div>

    {% if page.gateway-url %}
    <div class="gateway-url">
      <h4>
        Gateway URL: <a href="{{ page.gateway-url }}">{{ page.gateway-url }}</a>
      </h4>
    </div>
    {% endif %}

    <section class="content">{{ content }}</section>

    <div class="edit-page-container">
      <a
        class="edit-page"
        data-proofer-ignore
        href="{{ site.github.repository_url }}/edit/master/{{ page.path }}"
        ><i class="fa fa-pencil"></i> &nbsp;Improve this page</a
      >
    </div>
  </div>
</article>

{% include doc_sidebar.html %}
